<div class="mobile">
    <div class="five">
        <img src="./assets/card51.png" width="100%"/>
        <!-- <div class="news">
            <div class="texto">
            <input type="text" placeholder="Write your email and subscribe to our newsletter"/>
            </div>
            <div class="butt">
                <input type="submit" id="bot" value="SEND"/>
            </div>
        </div> -->
    </div>
    <div class="info">
        <!-- <div class="email">
            <h3>info@kivahan.com.au</h3>
        </div>
        <div class="number">
            <h3>PH:0756667177</h3>
        </div> -->
    </div>
    <div class="menu">
        <div class="about">
            <h3>ABOUT US</h3>
            <div class="options">
                <label for=""><a href="/mainws">Wholesale</a></label>
                <br>
                <label for=""><a href="/contact">Contact US</a></label>
                <br>
                <label for=""><a href="/mainws">PH: 0756667177</a></label>
                <br>
                <label for=""><a href="/mainws">Email: info@kivahan.com.au</a></label>
                <br>
                <div class="img">
                    <img src="../../../assets/ii2.svg" alt="">
                    <img src="../../../assets/f2.svg" alt="">
                </div>
            </div>
        </div>
        <div class="newsletter">
            <h3>NEWSLETTER</h3>
            <div class="inp">
            <p>Sign up below and don`t miss out
                <br>
                any of our high-quality products and specials</p>
             <input type="text" placeholder="Write your email...">
            </div>
        </div>
    </div>
    <div class="line"></div>
    <h5>2020 © Kivahan Coffe. All Right Reserved by Haidezign</h5>
    <div class="contact">

    </div>
</div>
<!-- <div class="hidden-mobile-fot">
    <h3>info@kivahan.com.au</h3>
    <br>
    <img src="./assets/face.svg" />
    <img src="./assets/insta.svg" />
    <br>
    <br>
    <div class="line"></div>
    <h5>2020 © Koffe. All Right Reserved by Haidezign</h5>
    <div class="visit">

    </div>
    <div class="contact">

    </div>

</div> -->
