<div class="mobile">
    <div class="loc">
        <div class="tloc">
         <div class="tloctext">
            <h1>COORPAROO SQUARE</h1>
            <p>Formerly the historic Myer building on the corner of Old Cleveland Road and Cavendish Road, Coorparoo Square will be Brisbane’s newest transport orientated development. 
                <br>
                Located just 4.5km from the Brisbane CBD
                Coorparoo Square
                Crn Old Cleveland Rd & Cavendish Rd Coorparoo QLD  4151</p>
                <!-- <br>
                <br>
                <br>
                <br>
                <input type="submit" value="Get location"/> -->
         </div>
        </div>
        <div class="floc">
            <img src="./assets/kcoor.png" width="100%"/>
        </div>
        </div>
</div>
<!-- <div class="hidden-mobile">
    <div class="loc">
    <div class="tloc">
     <div class="tloctext">
        <h1>COORPAROO SQUARE</h1>
        <br>
        <br>
        <br>
        <p>Formerly the historic Myer building on the corner of Old Cleveland Road and Cavendish Road, Coorparoo Square will be Brisbane’s newest transport orientated development. 
            <br>
            Located just 4.5km from the Brisbane CBD

            Coorparoo Square
            Crn Old Cleveland Rd & Cavendish Rd Coorparoo QLD  4151</p>
            <br>
            <br>
            <br>
            <br>
            <input type="submit" value="Get location"/>
     </div>
    </div>
    <div class="floc">
        <img src="./assets/kcoor.png" width="100%"/>
    </div>
    </div>
    <div class="five">
        <img src="./assets/CARD2.png" width="100%"/>
        <div class="news">
            <button>Subscribe</button>
            <input type="text" placeholder="Enter your email and subscribe to our newsletter"/>
        </div>
    </div>
</div> -->
