<div class="mobile">
   <div class="contai">
      <div class="tittle"><h1>BOOKINGS</h1></div>
      <img src="./assets/LINECOFF.svg" id="cofi" width="30%"/>
      <form [formGroup]="datos">
       <div class="shop-details">
       <div class="input-box">
          <span class="details">Full Name</span>
          <input type="text" placeholder="Enter your name..." formControlName="name"/>
       </div>
       <div class="input-box">
          <span class="details">Email</span>
          <input type="text" placeholder="Enter your email..." formControlName="email"/>
       </div>
       <div class="input-box">
          <span class="details">Mobile Phone Number</span>
          <input type="text" placeholder="Enter your number..." formControlName="mpn"/>
       </div>
       <div class="select-box">
          <span class="details">Persons</span>
          <select name="" id="" class="neoptions" formControlName="p">
           <option>Choose an option</option>
           <option>1</option>
           <option>2</option>
           <option>3</option>
           <option>4</option>
           <option>5</option>
           <option>6</option>
           <option>7</option>
           <option>8</option>
           <option>9</option>
           <option>10 or more</option>
           <option>Events</option>
          </select>
        </div>
        <div class="select-box">
          <span class="details">Hours</span>
          <select name="" id="" class="neoptions" formControlName="h">
           <option>Choose an option</option>
           <option>7:00pm</option>
           <option>7:30pm</option>
           <option>8:00pm</option>
           <option>8:30pm</option>
           <option>9:00pm</option>
           <option>9:30pm</option>
           <option>10:00pm</option>
           <option>10:30pm</option>
          </select>
        </div>
       </div>
       <div class="but">
          <input type="submit" (click)="enviocorreo()" value="SEND"/>
       </div>
      </form>
      </div>
</div>

<!-- <div class="hidden-mobile">
    <div class="contai">
        <div class="tittle"><h1>BOOKINGS</h1></div>
        <img src="./assets/LINECOFF.svg" width="25%"/>
        <form action="#">
         <div class="shop-details">
         <div class="input-box">
            <span class="details">Full Name</span>
            <input type="text" placeholder="Enter your name..."/>
         </div>
         <div class="input-box">
            <span class="details">Email</span>
            <input type="text" placeholder="Enter your email..."/>
         </div>
         <div class="input-box">
            <span class="details">Cell Phone Number</span>
            <input type="text" placeholder="Enter your number..."/>
         </div>
         <div class="select-box">
            <span class="details">Persons</span>
            <select name="" id="" class="neoptions">
             <option>Choose an option</option>
             <option>1</option>
             <option>2</option>
             <option>3 or more</option>
            </select>
          </div>
          <div class="select-box">
            <span class="details">Hour</span>
            <select name="" id="" class="neoptions">
             <option>Choose an option</option>
             <option>7:00pm</option>
             <option>7:30pm</option>
             <option>8:00pm</option>
             <option>8:30pm</option>
             <option>9:00pm</option>
             <option>9:30pm</option>
             <option>10:00pm</option>
             <option>10:30pm</option>
            </select>
          </div>
         </div>
         <div class="but">
            <input type="submit" value="SEND"/>
         </div>
        </form>
        </div>
        <div class="five">
            <img src="./assets/CARD2.png" width="100%"/>
            <div class="news">
                <button>Subscribe</button>
                <input type="text" placeholder="Enter your email and subscribe to our newsletter"/>
            </div>
        </div>
</div> -->
