<div class="mobile">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&family=Zilla+Slab:wght@300;400;500;600;700&display=swap');
    </style>
    <div class="tittle"><h1>The perfect design.
        The perfect storm.</h1></div>
    <img src="./assets/LINECOFF.svg" id="cofi" width="30%"/>
    <div class="content">
        <div class="one">
            <div class="img">   <img src="./assets/elec.svg"  width="70%"/></div>
            <div class="text">
                <h2>All Electric</h2>
                <p>No fuel connection or detrimental gas effects</p>
            </div>
        </div>
        <br>
        <br>
        <div class="two">
            <div class="img">   <img src="./assets/air.svg"  width="70%"/></div>
            <div class="text">
                <h2>Open Chamber Roasting (OCR)</h2>
                <p>Provides interactive roasting experience</p>
            </div>
        </div>
        <br>
        <br>
        <div class="three">
            <div class="img">   <img src="./assets/ch.svg"  width="70%"/></div>
            <div class="text">
                <h2>Superior Chaff Extraction
                </h2>
                <p>Powerful cyclone removes chaff and impurities

                </p>
            </div>
        </div>
        <br>
        <br>
        <div class="four">
            <div class="img">   <img src="./assets/gr.svg"  width="70%"/></div>
            <div class="text">
                <h2>Roast Profile Recording
                </h2>
                <p>Plus 5x-graph real-time tracking

                </p>
            </div>
        </div>
        <br>
        <br>
        <div class="five">
            <div class="img"> <img src="./assets/temp.svg"  width="70%"/></div>
            <div class="text">
                <h2>Unrivaled Exhaust Temperature
                </h2>
                <p>Cyclone exhaust temperature averages 100 °F</p>
            </div>
        </div>
    </div>
    <div class="contenti">
        <div class="two">
            <div class="img">   <img src="./assets/am1.png"  width="70%"/></div>
            <br>
            <div class="but">
               <a href="" (click)="abrir()">View</a>
            </div>
        </div>
        <br>
        <br>
        <div class="three">
            <div class="img">   <img src="./assets/am2.png"  width="70%"/></div>
            <br>
            <div class="but">
                <a href="" (click)="abrir()">View</a>
             </div>
        </div>
        <br>
        <br>
        <div class="four">
            <div class="img">   <img src="./assets/am3.png"  width="70%"/></div>
            <br>
            <div class="but">
                <a href="" (click)="abrir()">View</a>
             </div>
        </div>
        <br>
        <br>
    </div>
</div>
