<div class="mobile">
  <div class="slider-frame">
    <ul>
        <li><img src="./assets/ss1.png" alt="" /></li>
        <li><img src="./assets/ss2.png" alt=""/></li>
        <li><img src="./assets/ss3.png" alt=""/></li>
        <li><img src="./assets/ss4.png" alt=""/></li>
    </ul>
</div>
   <main>
          <div class="en">
            <div class="img">
               <h1>OUR COFFEE IS AIR ROASTED</h1>
               <img src="./assets/LINECOFF.svg" id="cofi" width="30%"/>
            </div>
          <p>We source organically grown coffee from around the world. We choose ethically farmed beans to support the people who grow our favourite brew.</p>
          </div>
          <div class="both">
          <div class="organic">
            <div class="slider-frame">
               <ul>
                   <li><img src="./assets/aa1.png" alt=""/></li>
                   <li><img src="./assets/aa3.png" alt=""/></li>
                   <li><img src="./assets/aa5.png" alt=""/></li>
                   <li><img src="./assets/aa6.png" alt=""/></li>
               </ul>
           </div>
          <!-- <div class="or" >
              <h1 class="org">ORGANIC</h1>
              <p>Our coffee is organically grown and sourced from around the world. Reducing the amount of pesticides and other chemicals is just one of the reasons why we here at Kivahan decided to exclusively stock organic coffee.
                  <br>
                  Our top reasons for choosing organic coffee:
                  <br>
                  <br>
                  *Better for farmers and consumers – No use of dangerous chemicals results in less health issues for the farmers and families.
                  <br>
                  *Better land conservation – the coffee is grown in a more natural environment in balance with the earth.
                  <br>
                  *Taste tests prove that organic is superior.</p>
          </div>
          <div class="orim">
          <img src="./assets/kccito.png" width="100%"/>
          </div> -->
         </div>
         <div class="ot">
          <div class="o">

            <div class="tittle"> <h1>ORGANIC</h1></div>
            <div class="pa">
              <p>Our coffee is organically grown and sourced from around the world. Reducing the amount of pesticides and other chemicals is just one of the reasons why we here at Kivahan decided to exclusively stock organic coffee.Our top reasons for choosing organic coffee:
                <br>
                *Better for farmers and consumers – No use of dangerous chemicals results in less health issues for the farmers and families.
                <br>
                *Better land conservation – the coffee is grown in a more natural environment in balance with the earth.
                <br>
                *Taste tests prove that organic is superior.</p>
          </div>

        </div>
        <div class="img">
          <img src="./assets/oore.png" alt="">
        </div>
        </div>
         <!-- <div class="loc">
            <div class="tloc">
             <div class="tloctext">
               <div class="tit"> <h1>ORGANIC</h1></div>
               <div class="content">
                <p>Our coffee is organically grown and sourced from around the world. Reducing the amount of pesticides and other chemicals is just one of the reasons why we here at Kivahan decided to exclusively stock organic coffee.Our top reasons for choosing organic coffee:
                  <br>
                  *Better for farmers and consumers – No use of dangerous chemicals results in less health issues for the farmers and families.
                  <br>
                  *Better land conservation – the coffee is grown in a more natural environment in balance with the earth.
                  <br>
                  *Taste tests prove that organic is superior.</p>
                </div>

             </div>
            </div>
            <div class="floc">
                <img src="./assets/orrr.png" width="100%"/>
            </div>
            </div> -->
<!--
         <div class="airroasted">
          <div class="air">
            <h1 class="airg">AIR ROASTED</h1>
            <p>Kivahan uses the latest technology in modern coffee roasting: air roasters.
                Our air roasters offer an innovative method of roasting coffee that takes the inconsistent variables out of a traditionally high-maintenance process.
                For your viewing, our two 1.2kg air roasters sit in our cafe where you can watch the beans transition from green to golden brown through it’s glass containers!</p>
        </div>
          <div class="airm">
          <img src="./assets/machi1.png" width="100%"/>
          </div>
         </div> -->
      </div>

          <div class="quality">
             <div class="qt">
                <h1>QUALITY</h1>
                <p>Kivahan Roasting promotes quality products and ingredients.
                   All of our coffee is 100 percent organic, arabica and Fairtrade Certified - meaning that our beans are the highest possible quality.
                   Some of our commitments to quality in our products are listed below.
                </p>
                <div class="boton">
               <div class="botu">
                <div class="but">
                  <!-- <h3 for="">100% ORGANIC SUGAR & SWEETNERS</h3> -->
                  <h3 for="">ORGANIC, GLUTEN-FREE CAKES & SHORTBREADS</h3>
                  <h3 for="">ORGANIC CHOCOLATES & TRAIL MIXES</h3>
                  <h3 for="">ORGANIC TEAS</h3>
                  <h3 for="">ORGANIC JUICES & DRINKS</h3>
                </div>
               </div>
               <div class="botd">
                <div class="but">
                  <h3 for="">FILTRATED WATER FOR COFFEES & TEAS</h3>
                  <h3 for="">HIGHLY TRAINED BARISTAS</h3>
                  <h3 for="">RECYCLED PRODUCTS</h3>
                  <h3 for="">HIGH-END, TIMELESS SHOP FIT OUT</h3>
                </div>
               </div>
             </div>
             </div>
             <div class="vi">
                <video controls muted autoplay loop>
                   <source src="./assets/kvideo2.mp4"  type="video/mp4"/>
                </video>
             </div>
          </div>
          <div class="profiles">
            <div class="text">
               <h1>COFFEE PROFILES</h1>
               <p>House Blend
                  A superb blend of three of our best single origins with a medium body and flavour notes of fruits,
                   floral and a hint of cocoa.
               </p>
               <p></p>
               <!-- <div class="boton2">
                   <div class="but2">
                     <input type="submit" value="ASIAN PACIFIC"/>
                     <h3 for="">Indonesia</h3>
                     <h3 for="">PNG</h3>
                     <h3 for="">Timor</h3>
                  </div> -->
                  <!-- <div class="but2">
                     <input type="submit" value="LATIN AMERICA"/>
                     <h3 for="">Brazil</h3>
                     <h3 for="">Honduras</h3>
                     <h3 for="">Guatemala</h3>
                     <h3 for="">Mexico</h3>
                     <h3 for="">Peru</h3>
                  </div> -->
                  <!-- <div class="but2">
                     <input type="submit" value="AFRICA"/>
                     <h3 for="">Ethiopia</h3>
                     <h3 for="">Kenya</h3>
                     <h3 for="">Tanzania</h3>
                     <h3 for="">Uganda</h3>
                  </div> -->
               <!-- </div>  -->
            </div>
             <div class="map">
                <!-- <div echarts [options]="mapOption"></div> -->
                <img src="../../../assets/lm2.png" id="ma" width="90%" alt="">
                <img src="../../../assets/mapvile.png" id="map" width="90%" alt="">
             </div>

          </div>
          <div class="matext" >
            <div class="img">
               <h1 align="center">DID YOU KNOW</h1>
               <img src="./assets/LINECOFF.svg" id="cofi" width="70%"/>
            </div>
          <p>Most coffee including organic coffee is roasted in drum roasters which uses bottled (propane) or natural gas. When this gas mixes with an organic compound like a coffee bean it creates a poisonous gas called Hydrogen Sulfide (H2S) which then gets infused into the bean.
              BUT, are these beans still organic?” The answer is NO as they have now added a toxic chemical to the bean. Our roaster is 100% electric, using just a heating element and hot air to roast our organic beans. Our roaster also has Zero emissions with a neutral carbon footprint.
              Whether you are a café, restaurant or retail store that wants to build your coffee business and serve the best quality coffee to their customers.
              <br>
              <br>
              NEXT TIME WHY NOT SKIP THE HYDROGEN SULFIDE AND GET YOUR FRESH ORGANIC COFFEE FROM KIVAHAN.
              Please fill out our wholesale form below and let’s talk about how we can work together.
              </p>
          </div>
          <!-- <div class="ma">
          <img src="./assets/slider15.png" />
          </div> -->
          <br>
          <div class="contai">
          <div class="tittle"><h1>SHOP NOW</h1></div>
          <img src="./assets/LINECOFF.svg" id="cofi" width="25%"/>
          <form action="#">
           <div class="shop-details">
           <div class="input-box">
              <span class="details">Full Name</span>
              <input type="text" placeholder="Enter your name..."/>
           </div>
           <div class="input-box">
              <span class="details">Email</span>
              <input type="text" placeholder="Enter your email..."/>
           </div>
           <div class="input-box">
              <span class="details">Company</span>
              <input type="text" placeholder="Enter your company..."/>
           </div>
           <div class="input-box">
              <span class="details">Address</span>
              <input type="text" placeholder="Enter your address..."/>
           </div>
           <div class="input-box">
              <span class="details">City</span>
              <input type="text" placeholder="Enter your city..."/>
           </div>
           <div class="select-box">
              <span class="details">Country</span>
              <select name="" id="" class="cooptions">
                  <option>Choose an country</option>
                  <option>Australia</option>
                  <option>Colombia</option>
                 </select>
           </div>
           <div class="input-box">
              <span class="details">Postal / Zip Code</span>
              <input type="text" placeholder="Enter your PC/ZC..."/>
           </div>
           <div class="input-box">
              <span class="details">Work Phone Number</span>
              <input type="text" placeholder="Enter your number..."/>
           </div>
           <div class="input-box">
              <span class="details">Mobile Phone Number</span>
              <input type="text" placeholder="Enter your number..."/>
           </div>
           <div class="select-box">
             <span class="details">New or Existing Business</span>
             <select name="" id="" class="neoptions">
              <option>Choose an option</option>
              <option>Existing Business</option>
              <option>New Business</option>
              <option>Existing Business - New Ownership</option>
             </select>
           </div>
           <div class="input-box">
              <span class="details">If existing business, who is your current coffee roaster?</span>
              <input type="text" placeholder="Enter your answer..."/>
           </div>
           <div class="select-box">
              <span class="details">Business Type</span>
              <select name="" id="" class="neoptions">
               <option>Choose an option</option>
               <option>Coffee</option>
               <option>Restaurant</option>
               <option>Hotel/Resort</option>
               <option>Cooffe</option>
               <option>College/University</option>
               <option>Office</option>
               <option>Other</option>
              </select>
            </div>
            <div class="select-box">
              <span class="details">Estimated or Current Pounds per Week
              </span>
              <select name="" id="" class="neoptions">
               <option>Choose an option</option>
               <option>1-24</option>
               <option>25-49</option>
               <option>50-99</option>
               <option>99+</option>
              </select>
            </div>
            <div class="text-box">
              <span class="details">Tell us about your ideal coffee profile:</span>
              <textarea type="text" placeholder="Enter your answer..."></textarea>
            </div>
           </div>
           <div class="but">
              <input type="submit" value="SEND"/>
           </div>
          </form>
          </div>

  </main>
</div>
<!-- <div class="hidden-mobile">
    <main>
        <div class="slider-frame">
            <ul>
                <li><img src="./assets/sli1.png" alt="" /></li>
                <li><img src="./assets/sli2.png" alt=""/></li>
                <li><img src="./assets/sli3.png" alt=""/></li>
                <li><img src="./assets/slider4.png" alt=""/></li>
            </ul>
        </div>
            <div class="en">
            <h1>OUR COFFEE IS AIR ROASTED</h1>
            <img src="./assets/LINECOFF.svg" width="25%"/>
            <p>We source organically grown coffee from around the world. We choose ethically farmed beans to support the people who grow our favorite brew.</p>
            </div>

            <div class="or" align="left">
                <h1 class="org">Organic</h1>
                <p>Our coffee is organically grown and sourced from around the world. Reducing the amount of pesticides and other chemicals is just one of the reasons why we here at Kivahan decided to exclusively stock organic coffee.
                    <br>
                    Our top reasons for choosing organic coffee:
                    <br>
                    <br>
                    *Better for farmers and consumers – No use of dangerous chemicals results in less health issues for the farmers and families.
                    <br>
                    *Better land conservation – the coffee is grown in a more natural environment in balance with the earth.
                    <br>
                    *Taste tests prove that organic is superior.</p>
            </div>
            <div class="orim">
            <img src="./assets/kccito.png" width="100%"/>
            </div>
            <div class="airm">
            <img src="./assets/machi1.png" width="100%"/>
            </div>
            <div class="air" align="right">
                <h1 class="airg">Air roasted</h1>
                <p>Kivahan uses the latest technology in modern coffee roasting: air roasters.
                    <br>
                    Our air roasters offer an innovative method of roasting coffee that takes the inconsistent variables out of a traditionally high-maintenance process.
                    <br>
                    For your viewing, our two 1.2kg air roasters sit in our cafe where you can watch the beans transition from green to golden brown through it’s glass containers!</p>
            </div>
            <div class="quality">
               <div class="qt">
                  <h1>QUALITY</h1>
                  <p>Kiva Han Roasting promotes quality products and ingredients.
                     All of our coffee is 100 percent organic, arabica and Fairtrade Certified - meaning that our beans are the highest possible quality.
                     Some of our commitments to quality in our products are listed below.
                  </p>
                  <div class="boton">
                  <div class="but">
                     <input type="submit" value="100% ORGANIC SUGAR & SWEETNERS"/>
                  </div>
                  <div class="but">
                     <input type="submit" value="ORGANIC, GLUTEN-FREE CAKES & SHORTBREADS"/>
                  </div>
                  <div class="but">
                     <input type="submit" value="ORGANIC CHOCOLATES & TRAIL MIXES"/>
                  </div>
                  <div class="but">
                     <input type="submit" value="ORGANIC TEAS"/>
                  </div>
                  <div class="but">
                     <input type="submit" value="ORGANIC JUICES & DRINKS"/>
                  </div>
                  <div class="but">
                     <input type="submit" value="FILTRATED WATER FOR COFFEES & TEAS"/>
                  </div>
                  <div class="but">
                     <input type="submit" value="HIGHLY TRAINED BARISTAS"/>
                  </div>
                  <div class="but">
                     <input type="submit" value="RECYCLED PRODUCTS"/>
                  </div>
                  <div class="but">
                     <input type="submit" value="HIGH-END, TIMELESS SHOP FIT OUT"/>
                  </div>
               </div>
               </div>
               <div class="vi">
                  <video muted autoplay loop>
                     <source src="./assets/kvideo.mp4" type="video/mp4"/>
                  </video>
               </div>
            </div>
            <div class="profiles">
               <div class="map">
                  <div echarts [options]="mapOption"></div>
               </div>
               <div class="text">
                  <h1>COFFEE PROFILES</h1>
                  <p>House Blend
                     A superb blend of three of our best single origins with a medium body and flavour notes of fruits, floral and a hint of cocoa.
                  </p>
                  <div class="boton2">
                     <div class="but2">
                        <input type="submit" value="ASIAN PACIFIC"/>
                        <a>Indonesia, PNG, Timor</a>
                     </div>
                     <div class="but2">
                        <input type="submit" value="LATIN AMERICA"/>
                        <a>Brazil, Honduras, Guatemala, Mexico, Peru.</a>
                     </div>
                     <div class="but2">
                        <input type="submit" value="AFRICA"/>
                        <a>Ethiopia, Kenya, Tanzania, Uganda</a>
                     </div>
                  </div>
               </div>
            </div>
            <div class="matext" >
            <h1 align="center">DID YOU KNOW </h1>
            <img src="./assets/LINECOFF.svg" width="25%"/>
            <p align="left">Most coffee including organic coffee is roasted in drum roasters which uses bottled (propane) or natural gas. When this gas mixes with an organic compound like a coffee bean it creates a poisonous gas called Hydrogen Sulfide (H2S) which then gets infused into the bean.
                <br>
                BUT, are these beans still organic?” The answer is NO as they have now added a toxic chemical to the bean. Our roaster is 100% electric, using just a heating element and hot air to roast our organic beans. Our roaster also has Zero emissions with a neutral carbon footprint.
                <br>
                Whether you are a café, restaurant or retail store that wants to build your coffee business and serve the best quality coffee to their customers, NEXT TIME WHY NOT SKIP THE HYDROGEN SULFIDE AND GET YOUR FRESH ORGANIC COFFEE FROM KIVAHAN.
                <br>
                Please fill out our wholesale form below and let’s talk about how we can work together.
                </p>
            </div>
            <br>
            <div class="contai">
            <div class="tittle"><h1>SHOP NOW</h1></div>
            <img src="./assets/LINECOFF.svg" width="25%"/>
            <form action="#">
             <div class="shop-details">
             <div class="input-box">
                <span class="details">Full Name</span>
                <input type="text" placeholder="Enter your name..."/>
             </div>
             <div class="input-box">
                <span class="details">Email</span>
                <input type="text" placeholder="Enter your email..."/>
             </div>
             <div class="input-box">
                <span class="details">Company</span>
                <input type="text" placeholder="Enter your company..."/>
             </div>
             <div class="input-box">
                <span class="details">Address</span>
                <input type="text" placeholder="Enter your address..."/>
             </div>
             <div class="input-box">
                <span class="details">City</span>
                <input type="text" placeholder="Enter your city..."/>
             </div>
             <div class="select-box">
                <span class="details">Country</span>
                <select name="" id="" class="cooptions">
                    <option>Choose an country</option>
                    <option>Australia</option>
                    <option>Colombia</option>
                   </select>
             </div>
             <div class="input-box">
                <span class="details">Postal / Zip Code</span>
                <input type="text" placeholder="Enter your PC/ZC..."/>
             </div>
             <div class="input-box">
                <span class="details">Work Phone Number</span>
                <input type="text" placeholder="Enter your number..."/>
             </div>
             <div class="input-box">
                <span class="details">Cell Phone Number</span>
                <input type="text" placeholder="Enter your number..."/>
             </div>
             <div class="select-box">
               <span class="details">New or Existing Business</span>
               <select name="" id="" class="neoptions">
                <option>Choose an option</option>
                <option>Existing Business</option>
                <option>New Business</option>
                <option>Existing Business - New Ownership</option>
               </select>
             </div>
             <div class="input-box">
                <span class="details">If existing business, who is your current coffee roaster?</span>
                <input type="text" placeholder="Enter your answer..."/>
             </div>
             <div class="select-box">
                <span class="details">Business Type</span>
                <select name="" id="" class="neoptions">
                 <option>Choose an option</option>
                 <option>Coffee</option>
                 <option>Restaurant</option>
                 <option>Hotel/Resort</option>
                 <option>Cooffe</option>
                 <option>College/University</option>
                 <option>Office</option>
                 <option>Other</option>
                </select>
              </div>
              <div class="select-box">
                <span class="details">Estimated or Current Pounds per Week
                </span>
                <select name="" id="" class="neoptions">
                 <option>Choose an option</option>
                 <option>1-24</option>
                 <option>25-49</option>
                 <option>50-99</option>
                 <option>99+</option>
                </select>
              </div>
              <div class="text-box">
                <span class="details">Tell us about your ideal coffee program:</span>
                <textarea type="text" placeholder="Enter your answer..."></textarea>
              </div>
             </div>
             <div class="but">
                <input type="submit" value="SEND"/>
             </div>
            </form>
            </div>
    </main>
</div> -->
