.mobile{
    // margin:0;
    // padding: 0;
    // text-align: center;
    // justify-content: center;
    // align-items: center;
    // display: flex;
    // flex-direction: column;
   
    main{
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-top: 0;
    }

    @media screen and (min-width:1025px) {
       main
       {
        // padding: 15%;
        padding-left: 5%;
        padding-right: 5%;
       }
       .en{
        width: 100%;
        // height: 250px;
            h1{
                font-family: 'Zilla Slab', serif;
                font-weight: 900;
                font-size: 2vw;
                // margin-bottom: -40px;

            }

            p{
                font-family: 'Playfair Display', serif;
                font-weight: 700;
                font-size: 1.8vw;
                padding: 30px;
                text-align: justify;
                line-height: 1.5em;
                // margin-bottom: -40px;
            }



    }
    }
    @media screen and (max-width:1024px) {
        main
       {
        // padding: 15%;
        padding-left: 5%;
        padding-right: 5%;
       }
       .en{
        width: 100%;
        // height: 250px;
        .img
        {
            h1{
                font-family: 'Zilla Slab', serif;
                font-weight: 900;
                font-size: 7vw;
                // margin-bottom: -40px;

            }
        #cofi
        {
         max-width: 100%;
         top: 0;
         left: 0;
         width: 60%;
         height: 60%;
         object-fit: cover;
        }
        }


            p{
                font-family: 'Playfair Display', serif;
                font-weight: 600;
                font-size: 4vw;
                padding: 20px;
                text-align: justify;
                line-height: 1.5em;
                // margin-bottom: -40px;
            }
    }
    }

    h1{
        font-family: 'Zilla Slab', serif;
        font-weight: 900;
        font-size: 20px;

    }

    p{
        font-family: 'Playfair Display', serif;
        font-weight: 700;
        font-size: 12px;
        padding: 80px;
    }




    // .en
    @media screen and (max-width:1024px) {
        .en{
            width: 100%;
            // height: 250px;
             #cofi
             {
                width: 300px;
             }
                .img{
                    margin-bottom: -5%;
                }
                h1{
                    font-family: 'Zilla Slab', serif;
                    font-weight: 900;
                    font-size: 7vw;
                    // margin-bottom: -40px;
                }

                p{
                    font-family: 'Playfair Display', serif;
                    font-weight: 700;
                    font-size: 4vw;
                    padding: 20px;
                    text-align: justify;
                    margin-bottom: -5%;
                }



        }
    }

    @media screen and (min-width:1025px) {
      .both
      {

        .organic
        {
           .slider-frame
           {
              margin-bottom: 50px;
           }
           .slider-frame ul{
            display: flex;
            padding: 0;
            width: 400%;
            animation: slide 25s infinite alternate ease-in-out;
        
        }
        }
       .ot
       {
         display: flex;
         flex-direction: row;
         margin-bottom: 50px;
         max-height:1500px;
         .o{
           // border: 1px solid blue;
           width: 50%;
           // height: 501px;
           background: black;
           justify-content: center;

           h1{
               font-family: 'Zilla Slab', serif;
               font-weight: 900;
               font-size: 2vw;
               color: #CFAD31;
                }
                p{
                   font-family: 'Playfair Display', serif;
                   font-weight: 700;
                   color: white;
                   padding: 40px;
                   text-align: justify;
                   font-size: 1.3vw;
                   line-height: 1.5em;
                }
       }
       .img
       {
         width: 50%;
         // max-height: 1800px;
         img
         {
          max-width: 100%;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          object-fit: cover;
         }
       }

       }

      }
    }
    // .both
    @media screen and (max-width:1024px) {
        .both
        {

          .organic
          {
             .slider-frame
             {
                // margin-bottom: 50px;
                // border: 1px solid yellow;
             }
             .slider-frame ul{
                display: flex;
                padding: 0;
                width: 400%;
                animation: slide 25s infinite alternate ease-in-out;
            
            }
          }
         .ot
         {
           display: flex;
           flex-direction: column;
           margin-bottom: 15px;
           max-height:1500px;
           .o{
            //  border: 1px solid blue;
             width: 100%;
             // height: 501px;
             background: black;
             justify-content: center;

             h1{
                 font-family: 'Zilla Slab', serif;
                 font-weight: 900;
                 font-size: 6vw;
                 color: #CFAD31;
                  }
                  p{
                     font-family: 'Playfair Display', serif;
                     font-weight: 700;
                     color: white;
                     padding: 20px;
                     text-align: justify;
                     font-size: 3vw;
                     line-height: 1.5em;
                  }
         }
         .img
         {
           width: 100%;
           // max-height: 1800px;
           img
           {
            max-width: 100%;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
           }
         }

         }

        }
    }

    button{
        width: 200px;
        height: 50px;
        border: none;
        background-color: #CFAD31;
        color: white;
        font-family: 'Zilla Slab', serif;
        font-weight: 500;
        font-size: 18px;
    }

    button:hover{
        background-color: #cfad31c0;;
    }

   .matext{
    width: 100%;
    // height: 500px;
    // background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .img
    {
        // margin-bottom: -20px;
    }
    h1{
        // color: white;
        font-family: 'Zilla Slab', serif;
        font-weight: 900;
        font-size: 40px;
    }

    p{

        font-family: 'Playfair Display', serif;
        font-weight: 700;
        font-size: 24px;
        padding: 100px;
        text-align: justify;
        margin-bottom: -20px;
    //    color: white;
    }


   }

   .loc{
    .floc,.tloc{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 1700px;

    }

    .tloc{
        // width: 100%;
        // height: 358px;
        // border: 1px solid blue;
        background: black;
        justify-content: center;

        display: flex;
        flex-flow: row wrap;
        .tloctext{
            max-width: 1600px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            h1{
                font-family: 'Zilla Slab', serif;
                font-weight: 900;
                font-size: 20px;
                color: #cfad31;
                margin-bottom: -10px;
            }
            p{
                font-family: 'Playfair Display', serif;
                font-weight: 500;
                font-size: 12.5px;
                max-width: 632px;
                text-align: justify;
                padding: 10px;

            }
               color: white;
               width: 100%;

               input{
                // position: absolute;
                border: none;
                height: 25px;
                width: 50%;
                color: white;
                font-family: 'Zilla Slab', serif;
                background: #cfad31;
                font-weight: 700;
                font-size: 15px;
            }

                input:hover{
                    background: #cfad31a9;
                }
        }

    }
    .floc{
        width: 100%;
        // ¡height: 479px;
        // border: 1px solid yellow;
    }



}

@media screen and (min-width:1025px) {
  .quality{
    width: 100%;
    // border: 1px solid red;
    // height: 550px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // position: relative;
    .qt{
        width: 100%;
        max-height: 1700px;
        // min-width: 100%;
        // border:  1px solid yellow;
        background: black;
        justify-content: center;
        text-align: center;
        color: white;
        h1{
            font-family: 'Zilla Slab', serif;
            font-weight: 900;
            font-size: 2vw;
            color: #CFAD31;
        }
       p{
        font-family: 'Playfair Display', serif;
        font-weight: 500;
        font-size: 1.5vw;
        padding: 30px;
        line-height: 1.5em;
        margin-bottom: -50px;
        text-align: justify;
       }

        .boton{
            display: flex;
            flex-wrap: nowrap;
            margin: 0;
            padding: 30px;
            justify-content: center;
            .boton, .but{
                display: flex;
                flex-direction: column;
                text-align: left;
                align-items: left;
                justify-content: center;
                margin-right: 50px;
               .botu
               {
                display: flex;
                flex-direction: column;
                text-align: left;
                align-items: left;
                justify-content: center;
               }
               .botd
               {
                display: flex;
                flex-direction: column;
                text-align: left;
                align-items: left;
                justify-content: left;

               }

                h3{
                    // max-height: 5px;
                    background: black;
                    color: #CFAD31;
                    font-family: 'Zilla Slab', serif;
                    font-weight: 800;
                    font-size: 1.2vw;
                    border: none;
                    line-height: .1em;
                    // padding-bottom: 20px;

                }

                input:hover{
                //  background: #cfad3193;
                }
            }
        }
    }

    .vi{
        position: relative;
        width: 100%;
        height: 210px;
        // border:  1px solid blue;
        margin-bottom: 480px;
        height: 100%;

       video{
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        max-height: 1000px;

       }
    }

}

}

@media screen and (min-width:1025px) {

  .profiles{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    // border: 1px solid red;
    // height: 410px;
    // display: flex;
    max-height: 100px;
    margin-top: 100px;

    .map{
      img
      {
       top: 0;
       left: 0;
       width: 100%;
       height: 100%;
       object-fit: cover;
      }

      #map{display: none;}
    }



    .text{
        width: 100%;
        // height: 409px;
        // border:  1px solid yellow;
        background: black;
        align-items: left;
        justify-content: center;
        text-align: center;
        color: white;
        h1{
            font-family: 'Zilla Slab', serif;
            font-weight: 900;
            font-size: 2vw;
            color: #CFAD31;
        }
       p{
        font-family: 'Playfair Display', serif;
        font-weight: 700;
        font-size: 1.5vw;
        padding: 30px;
        text-align: justify;
       }

       .boton2{
        display: flex;
        flex-wrap: nowrap;
        margin: 0;
        justify-content: center;

        .boton2, .but2{
            padding: .9rem;
            display: flex;
            flex-direction: column;
            margin-left: 16px;
            margin-right: 16px;
            input{
                height: 35px;
                background: #CFAD31;
                color: white;
                font-family: 'Zilla Slab', serif;
                font-weight: 700;
                font-size: 24px;
                border: none;
            }

            label{

                font-weight: 900;
                margin: .3rem;
                padding-left: .5rem;
                font-size: 20px;
                font-weight: 600;
            }

            input:hover{
             background: #cfad3193;
            }
        }
    }
    }
}

}
// .quality
@media screen and (max-width:1024px) {
    .quality{
        width: 100%;
        // border: 1px solid red;
        // height: 550px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        // position: relative;
        .qt{
            width: 100%;
            // max-height: 1700px;
            // min-width: 100%;
            // border:  1px solid yellow;
            background: black;
            justify-content: center;
            text-align: center;
            color: white;
            h1{
                font-family: 'Zilla Slab', serif;
                font-weight: 900;
                font-size: 6vw;
                color: #CFAD31;
            }
           p{
            font-family: 'Playfair Display', serif;
            font-weight: 500;
            font-size: 3vw;
            padding: 30px;
            line-height: 1.5em;
            margin-bottom: -50px;
            text-align: justify;
           }

            .boton{
                display: flex;
                flex-wrap: nowrap;
                margin: 0;
                padding: 30px;
                justify-content: center;
                .boton, .but{
                    display: flex;
                    flex-direction: column;
                    text-align: left;
                    align-items: left;
                    justify-content: center;
                    margin-right: 50px;
                   .botu
                   {
                    display: flex;
                    flex-direction: column;
                    text-align: left;
                    align-items: left;
                    justify-content: center;
                   }
                   .botd
                   {
                    display: flex;
                    flex-direction: column;
                    text-align: left;
                    align-items: left;
                    justify-content: left;

                   }

                    h3{
                        // max-height: 5px;
                        background: black;
                        color: #CFAD31;
                        font-family: 'Zilla Slab', serif;
                        font-weight: 900;
                        font-size: 2vw;
                        border: none;
                        line-height: 1em;
                        // padding-bottom: 20px;

                    }

                    input:hover{
                    //  background: #cfad3193;
                    }
                }
            }
        }

        .vi{
            position: relative;
            width: 100%;
            height: 210px;
            // border:  1px solid blue;
            margin-bottom: 15px;
            height: 100%;

           video{
            position: relative;
            top: 0;
            left: 0;
            width: 100%;
            max-height: 1000px;

           }
        }

    }

}

// .profiles
@media screen and (max-width:1024px) {
    .profiles{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    // border: 1px solid red;
    // height: 410px;
    // display: flex;

    .map{
        width: 100%;
        #ma
        {
           display: none;
        }


    }

    .text{
        width: 100%;
        // height: 409px;
        // border:  1px solid yellow;
        background: black;
        align-items: left;
        justify-content: center;
        text-align: center;
        color: white;
        h1{
            font-family: 'Zilla Slab', serif;
            font-weight: 900;
            font-size: 6vw;
            color: #CFAD31;
        }
       p{
        font-family: 'Playfair Display', serif;
        font-weight: 500;
        font-size: 3vw;
        padding: 15px;
        line-height: 1.5em;
        text-align: justify;
       }

       .boton2{
        display: flex;
        flex-wrap: nowrap;
        margin: 0;
        justify-content: center;

        .boton2, .but2{
            padding: .9rem;
            display: flex;
            flex-direction: column;
            margin-left: 16px;
            margin-right: 16px;
            input{
                height: 35px;
                background: #CFAD31;
                color: white;
                font-family: 'Zilla Slab', serif;
                font-weight: 700;
                font-size: 24px;
                border: none;
            }

            label{

                font-weight: 900;
                margin: .3rem;
                padding-left: .5rem;
                font-size: 20px;
                font-weight: 600;
            }

            input:hover{
             background: #cfad3193;
            }
        }
    }
    }
}
}

@media screen and (min-width:1025px) {
  .matext{
    width: 100%;
    // height: 500px;
    // background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
  margin-top: 500px;
  align-items: center;
    .img
    {
        img
        {
         top: 0;
         left: 0;
         width: 100%;
         height: 100%;
         object-fit: cover;
        }
    }
    h1{
        // color: white;
        font-family: 'Zilla Slab', serif;
        font-weight: 900;
        font-size: 2vw;
    }

    p{

        font-family: 'Playfair Display', serif;
        font-weight: 700;
        font-size: 1.5vw;
        padding: 30px;
        text-align: justify;
        margin-bottom: -20px;
        line-height: 1.5em;
    //    color: white;
    }

   }
}
//. matext
@media screen and (max-width:1024px) {
    .matext{
        width: 100%;
        // height: 500px;
        // background-color: black;
        display: flex;
        flex-direction: column;
        justify-content: center;
    //   margin-top: 500px;
      align-items: center;
        .img
        {
            img
            {
             top: 0;
             left: 0;
             width: 60%;
             height: 60%;
             object-fit: cover;
            }
        }
        h1{
            // color: white;
            font-family: 'Zilla Slab', serif;
            font-weight: 900;
            font-size: 7vw;
        }

        p{

            font-family: 'Playfair Display', serif;
            font-weight: 700;
            font-size: 4vw;
            padding: 20px;
            text-align: justify;
            // margin-bottom: -20px;
            line-height: 1.5em;
        //    color: white;
        }

       }
}

@media screen and (min-width:1025px) {
  .contai{

    width: 100%;
    background: white;
    // border:  1px solid yellow;


    .tittle
    {
      h1{
      font-size: 2vw;
    }
    #cofi
    {
     max-width: 100%;
     top: 0;
     left: 0;
     width: 30%;
     height: 30%;
     object-fit: cover;
    }
    }
}

.contai .tittle{
    font-size: 12px;
    font-family: 'Zilla Slab', serif;
    font-weight: 700px;
    position: relative;
    align-items: center;
    justify-content: center;
    text-align: center;

}

// .contai .tittle::before{
//     content: '';
//     position: absolute;
//     height:3px;
//     width: 30px;
//     background: yellow;
// }

.contai form .shop-details{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
}

form .shop-details .input-box{
    width: calc(100% / 2 - 20px);
    padding: 15px 10px;
    text-align: left;
    max-width: 700px;
    font-family: 'Zilla Slab', serif;
    font-weight: 800;
    font-size: 1vw;
    margin: 5px 0 3px 0;
}
form .shop-details .text-box{
    width: calc(100% / 2 - 20px);
    padding: 15px 10px;
    text-align: left;
    max-width: 700px;
    font-family: 'Zilla Slab', serif;
    font-weight: 800;
    font-size: 1vw;
    margin: 5px 0 3px 0;
}

form .shop-details .select-box{
    width: calc(100% / 2 - 20px);
    padding: 15px 10px;
    text-align: left;
    max-width: 700px;
    font-family: 'Zilla Slab', serif;
    font-weight: 800;
    font-size: 1vw;
    margin: 5px 0 3px 0;
}

.shop-details .select-box select{
    height: 55px;
    width: 95%;
    font-family: 'Zilla Slab', serif;
    font-weight: 600;
    font-size: 1vw;
    border: 1px solid #ccc;

}
.shop-details .text-box textarea{
    height: 175px;
    width: 100%;
    font-family: 'Zilla Slab', serif;
    font-weight: 600;
    font-size: 1vw;
    padding-left: 15px;
    border: 1px solid #ccc;

}

.shop-details .input-box input{
    height: 40px;
    width: 90%;
    font-family: 'Zilla Slab', serif;
    font-weight: 300;
    font-size: 1vw;
    display: block;
    border: 1px solid #ccc;
    outline: none;
    padding-left: 15px;
    border-bottom-width: 3px;

}

.shop-details .input-box input:focus {
    border-color: #CFAD31;
}

form .but{
  min-height: 40px;
    height: 50px;
    margin: 45px 0;
}

form .but input{
    height: 100%;
    width: 100%;
    outline: none;
    color: white;
    border: none;
    background: #CFAD31;
    max-width: 1450px;
    font-size: 1.8vw;
}

form .but input:hover{
    background: #b8992b;
}
}

// .contai
@media screen and (max-width:1024px) {

    .contai{

        width: 100%;
        background: white;
        // border:  1px solid yellow;


        .tittle
        {
          h1{
          font-size: 7vw;
        }

        }
        #cofi
        {
         max-width: 100%;
         top: 0;
         left: 0;
         width: 60%;
         height: 60%;
         object-fit: cover;
        }
    }

    .contai .tittle{
        font-size: 12px;
        font-family: 'Zilla Slab', serif;
        font-weight: 700px;
        position: relative;
        align-items: center;
        justify-content: center;
        text-align: center;

    }

    .contai form .shop-details{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    form .shop-details .input-box{
        width: calc(100% / 2 - 20px);
        padding: 15px 10px;
        text-align: left;
        max-width: 700px;
        font-family: 'Zilla Slab', serif;
        font-weight: 800;
        font-size: 3.5vw;
        margin: 5px 0 3px 0;
    }
    form .shop-details .text-box{
        width: calc(100% / 2 - 20px);
        padding: 15px 10px;
        text-align: left;
        max-width: 700px;
        font-family: 'Zilla Slab', serif;
        font-weight: 800;
        font-size: 3.5vw;
        margin: 5px 0 3px 0;
    }

    form .shop-details .select-box{
        width: calc(100% / 2 - 20px);
        padding: 15px 10px;
        text-align: left;
        max-width: 700px;
        font-family: 'Zilla Slab', serif;
        font-weight: 800;
        font-size: 3.5vw;
        margin: 5px 0 3px 0;
    }

    .shop-details .select-box select{
        height: 35px;
        width: 100%;
        font-family: 'Zilla Slab', serif;
        font-weight: 600;
        font-size: 2.8vw;
        border: 1px solid #ccc;

    }
    .shop-details .text-box textarea{
        height: 105px;
        width: 90%;
        font-family: 'Zilla Slab', serif;
        font-weight: 600;
        font-size: 2.8vw;
        padding-left: 10px;
        border: 1px solid #ccc;

    }

    .shop-details .input-box input{
        height: 30px;
        width: 90%;
        font-family: 'Zilla Slab', serif;
        font-weight: 300;
        font-size: 2.8vw;
        display: block;
        border: 1px solid #ccc;
        outline: none;
        padding-left: 15px;
        border-bottom-width: 3px;

    }

    .shop-details .input-box input:focus {
        border-color: #CFAD31;
    }

    form .but{
      min-height: 40px;
        height: 50px;
        margin: 45px 0;
    }

    form .but input{
        height: 100%;
        width: 100%;
        outline: none;
        color: white;
        border: none;
        background: #CFAD31;
        max-width: 1450px;
        font-size: 4vw;
    }

    form .but input:hover{
        background: #b8992b;
    }

}
// .contai{

//     width: 100%;
//     background: white;
//     // border:  1px solid yellow;
// }

// .contai .tittle{
//     font-size: 20px;
//     font-family: 'Zilla Slab', serif;
//     font-weight: 900;
//     position: relative;
//     align-items: center;
//     justify-content: center;
//     text-align: center;

// }

// // .contai .tittle::before{
// //     content: '';
// //     position: absolute;
// //     height:3px;
// //     width: 30px;
// //     background: yellow;
// // }

// .contai form .shop-details{
//     display: flex;
//     flex-wrap: wrap;
//     align-items: center;
//     justify-content: center;
//     text-align: center;
// }

// form .shop-details .input-box{
//     width: calc(100% / 2 - 20px);
//     padding: 15px 10px;
//     text-align: left;
//     max-width: 500px;
//     font-family: 'Zilla Slab', serif;
//     font-weight: 800;
//     font-size: 12px;
//     margin: 5px 0 3px 0;
// }
// form .shop-details .text-box{
//     width: calc(100% / 2 - 20px);
//     padding: 25px 50px;
//     text-align: left;
//     max-width: 420px;
//     font-family: 'Zilla Slab', serif;
//     font-weight: 800;
//     font-size: 12px;
//     margin: 5px 0 3px 0;
// }

// form .shop-details .select-box{
//     width: calc(100% / 2 - 20px);
//     padding: 15px 10px;
//     text-align: left;
//     max-width: 500px;
//     font-family: 'Zilla Slab', serif;
//     font-weight: 800;
//     font-size: 12px;
//     margin: 5px 0 3px 0;
// }

// .shop-details .select-box select{
//     height: 20px;
//     width: 100%;
//     font-family: 'Zilla Slab', serif;
//     font-weight: 600;
//     font-size: 10px;
//     border: 1px solid #ccc;

// }
// .shop-details .text-box textarea{
//     height: 75px;
//     width: 100%;
//     font-family: 'Zilla Slab', serif;
//     font-weight: 600;
//     font-size: 10px;
//     border: 1px solid #ccc;

// }

// .shop-details .input-box input{
//     height: 20px;
//     width: 100%;
//     font-family: 'Zilla Slab', serif;
//     font-weight: 300;
//     font-size: 10px;
//     display: block;
//     border: 1px solid #ccc;
//     outline: none;
//     border-bottom-width: 3px;

// }

// .shop-details .input-box input:focus {
//     border-color: #CFAD31;
// }

// form .but{
//     height: 22.5px;
//     margin: 45px 0;
// }

// form .but input{
//     height: 100%;
//     width: 80%;
//     outline: none;
//     color: white;
//     border: none;
//     background: #CFAD31;
//     max-width: 1450px;
// }

// form .but input:hover{
//     background: #b8992b;
// }


}




.hidden-mobile{
    margin:0;
    padding: 0;
    text-align: center;
    justify-content: center;
    align-items: center;

    h1{
        font-family: 'Zilla Slab', serif;
        font-weight: 500;
        font-size: 50px;
        top: 50%;
    }

    p{
        font-family: 'Playfair Display', serif;
        font-size: 22px;
    }


    .en{
        width: 100%;
        height: 250px;
    }


    .or, .orim{
        display: inline-block;
        height: 428px;

    }
    .or{

        justify-content: center;
        align-items: center;
        width: 50%;
        // border: 1px solid yellow;


    }
    .orim{
        width: 50%;
        // border: 1px solid yellow;

    }

    .air, .airm{
        display: inline-block;
        height: 428px;

    }
    .air{
        justify-content: center;
        align-items: center;
        width: 50%;

    }
    .airm{
        width: 50%;
        // border: 1px solid yellow;

    }

    button{
        width: 200px;
        height: 50px;
        border: none;
        background-color: #CFAD31;
        color: white;
        font-family: 'Zilla Slab', serif;
        font-weight: 500;
        font-size: 18px;
    }

    button:hover{
        background-color: #cfad31c0;;
    }

   .matext{
    width: 100%;
    height: 500px;
    // background-color: black;
    h1{
        // color: white;
    }

    p{
    //    line-height: 0px;
    //    color: white;
    text-align: justify;
    }
   }

   .five{
    width: 100%;
    height: 200px;
    padding-top: 6rem;

    .news{

        position: absolute;
        bottom: -498%;
        left: 15%;
        display: block;
        text-align: center;

    }
    input{
        // position: absolute;
       color: white;
       width: 850px;
       height: 30px;
       right: 100%;


    }
    button{
        // position: absolute;
        height: 36px;
        border: none;
        background-color: #cfad3181;
        color: white;
        border-radius: 2px 0px 0px 2px;
        width: 102px;
        // width: 10%;
    }
}

.quality{
    width: 100%;
    // border: 1px solid red;
    height: 550px;
    display: flex;
    position: relative;


    .qt{
        width: 45%;
        height: 409px;
        // border:  1px solid yellow;
        background: black;
        align-items: left;
        justify-content: center;
        text-align: center;
        color: white;
        h1{
            font-family: 'Zilla Slab', serif;
        }
       p{
        font-family: 'Playfair Display', serif;
        font-size: 15px;
       }

        .boton{
            display: flex;
            flex-wrap: wrap;
            margin: 0;
            padding: 5%;


            .boton, .but{
                padding: .1rem;

                input{
                    height: 20px;
                    background: #CFAD31;
                    color: white;
                    font-family: 'Zilla Slab', serif;
                    font-weight: 700;
                    border: none;
                }

                input:hover{
                 background: #cfad3193;
                }
            }
        }
    }

    .vi{
        position: relative;
        width: 55%;
        height: 549px;
        // border:  1px solid blue;
       video{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
       }
    }
}

.profiles{
    width: 100%;
    // border: 1px solid red;
    height: 410px;
    display: flex;
    position: relative;

    .map{
        width: 55%;

    }

    .text{
        width: 100%;
        height: 409px;
        // border:  1px solid yellow;
        background: black;
        align-items: left;
        justify-content: center;
        text-align: center;
        color: white;
        // padding-bottom: 100px;
        h1{
            font-family: 'Zilla Slab', serif;
        }
       p{
        font-family: 'Playfair Display', serif;
        font-size: 15px;
        padding: 180px;
       }

       .boton2{
        display: flex;
        flex-wrap: wrap;
        margin: 0;
        padding: 5%;


        .boton2, .but2{
            padding: .1rem;

            input{
                height: 20px;
                background: #CFAD31;
                color: white;
                font-family: 'Zilla Slab', serif;
                font-weight: 700;
                border: none;
            }

            a{

                font-weight: 900;
                margin: .1rem;
            }

            input:hover{
             background: #cfad3193;
            }
        }
    }
    }
}

.contai{

    width: 100%;
    background: white;
    // border:  1px solid yellow;
}

.contai .tittle{
    font-size: 50px;
    font-family: 'Zilla Slab', serif;
    font-weight: 700px;
    position: relative;
    align-items: center;
    justify-content: center;
    text-align: center;

}

// .contai .tittle::before{
//     content: '';
//     position: absolute;
//     height:3px;
//     width: 30px;
//     background: yellow;
// }

.contai form .shop-details{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
}

form .shop-details .input-box{
    width: calc(100% / 2 - 20px);
    padding: 15px 10px;
    text-align: left;
    max-width: 500px;
    font-family: 'Zilla Slab', serif;
    font-weight: 800;
    font-size: 18px;
    margin: 5px 0 3px 0;
}
form .shop-details .text-box{
    width: calc(100% / 2 - 20px);
    padding: 25px 50px;
    text-align: left;
    max-width: 420px;
    font-family: 'Zilla Slab', serif;
    font-weight: 800;
    font-size: 18px;
    margin: 5px 0 3px 0;
}

form .shop-details .select-box{
    width: calc(100% / 2 - 140px);
    padding: 15px 10px;
    text-align: left;
    max-width: 500px;
    font-family: 'Zilla Slab', serif;
    font-weight: 800;
    font-size: 18px;
    margin: 5px 0 3px 0;
}

.shop-details .select-box select{
    height: 45px;
    width: 100%;
    font-family: 'Zilla Slab', serif;
    font-weight: 600;
    font-size: 16px;
    border: 1px solid #ccc;

}
.shop-details .text-box textarea{
    height: 150px;
    width: 100%;
    font-family: 'Zilla Slab', serif;
    font-weight: 600;
    font-size: 16px;
    border: 1px solid #ccc;

}

.shop-details .input-box input{
    height: 40px;
    width: 100%;
    font-family: 'Zilla Slab', serif;
    font-weight: 300;
    font-size: 16px;
    display: block;
    border: 1px solid #ccc;
    outline: none;
    border-bottom-width: 3px;

}

.shop-details .input-box input:focus {
    border-color: #CFAD31;
}

form .but{
    height: 45px;
    margin: 45px 0;
}

form .but input{
    height: 100%;
    width: 80%;
    outline: none;
    color: white;
    border: none;
    background: #CFAD31;
    max-width: 1450px;
}

form .but input:hover{
    background: #b8992b;
}

}
.slider-frame{
  
    width: 100%;
    ul{
      
            margin-top: 0;
              // min-height: 100px;
              // height: 100vh;
         

    }
    @media screen and (min-width:700px) {
        height: 50%;

    }
    // height: 250px;
    overflow: hidden;

}

.slider-frame ul{
    display: flex;
    padding: 0;
    width: 400%;
    animation: slide 20s infinite alternate ease-in-out;

}

.slider-frame li{
    list-style: none;
    width: 100%;
}

.slider-frame img {
    width: 100%;
}

@keyframes slide {
    0%{margin-left: 0%;}
    20%{margin-left: 0%;}

    25%{margin-left: -100%;}
    45%{margin-left: -100%;}

    50%{margin-left: -200%;}
    70%{margin-left: -200%;}

    75%{
        margin-left: -300%;
    }
    95%{
        margin-left: -300%;
    }
}



