
<div class="show-mobile">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&family=Zilla+Slab:wght@300;400;500;600;700&display=swap');
    </style>
    <div class="navs">
        <!-- <nav class="firstnav">
            <ul>
                <li><img src="./assets/phone.svg" width="20"/><a>0756667177</a></li>
                <li><img src="./assets/mail.svg" width="20"/><a>info@kivahan.com.au</a></li>
                <li><img src="./assets/loc.svg" width="20"/><a href="/location">Locations</a></li>
            </ul>
        </nav> -->
        <nav class="secondnav">
            <div class="icon" id="ic">
                <div>Choose an option</div>
                <a (click)="setActive()" >
                <img src="./assets/bars.svg" id="btnm" width="25" align="right"/>
                </a>
            </div>
        <div class="op" [ngClass]="{'op--activo' : active}">
            <ul id="list">
                <li><a href="/">Home</a></li>
                <li><a href="/menu">Menu</a></li>
                <li><a href="/contact">Contact Us</a></li>
                <li><a href="/shop">Equipment</a></li>
                <li><a href="/mainws">Wholesale</a></li>
                <li><a href="/booking">Bookings</a></li>
            </ul>
            <div></div>
           </div>
           <div class="op2">
            
            <ul id="list2">
                <li><a href=""><div class="im">
                    <a class="logo" href="" >
                        <img width="50" src="./assets/logodef.png" alt="logo"/>
                    </a>
                </div></a></li>
            </ul>
            <ul id="list">
              
                <li><a href="/">Home</a></li>
                <li><a href="/menu">Menu</a></li>
                <li><a href="/contact">Contact Us</a></li>
                <li><a href="/shop">Shop</a></li>
                <li><a href="/mainws">Wholesale</a></li>
                <li><a href="/booking">Bookings</a></li>
            </ul>
            <div></div>
           </div>
        </nav>
    </div>
</div>
<!-- <div class="hide-mobile">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&family=Zilla+Slab:wght@300;400;500;600;700&display=swap');
    </style>

    <div>
        <nav class="firstnav">
            <ul>
                <li><img src="./assets/phone.svg" width="20"/><a>99999999</a></li>
                <li><img src="./assets/mail.svg" width="20"/><a>info@kivahan.com.au</a></li>
                <li><img src="./assets/loc.svg" width="20"/><a href="/location">Locations</a></li>
            </ul>
        </nav>
        <div class="im">
            <a class="logo" href="">
                <img width="100" src="./assets/LOGODORADO.png" alt="logo"/>
            </a>
            </div>
            <div class="icon">
                <img src="./assets/bars.svg" id="btnm" width="20"/>
            </div>
        <nav class="secondnav">
            <ul id="list">
                <li><a href="/">Home</a></li>
                <li><a href="/menu">Menu</a></li>
                <li><a href="/contact">Contact Us</a></li>
                <li><a href="/mainws">Wholesale</a></li>
                <li><a href="/booking">Bookings</a></li>
            </ul>
        </nav>
    </div>
</div> -->
