<div class="container-mobile">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&family=Zilla+Slab:wght@300;400;500;600;700&display=swap');
    </style>
    <div class="slider-frame">
      <ul>
          <li><img src="./assets/sll.png" alt="" /></li>
          <li><img src="./assets/sll2.png" alt=""/></li>
          <li><img src="./assets/sll3.png" alt=""/></li>
          <li><img src="./assets/sll4.png" alt=""/></li>
      </ul>
  </div>
  <div class="main">
     <main>
        <div class="second">
            <div class="img">  <h1>WELCOME TO KIVAHAN</h1>
             <img src="./assets/LINECOFF.svg" id="cofi" width="40%"/></div>
        <p>
            We have navigated plenty of twists and turns along the way, but we will always be driven by a goal to create distinctive and  out-of-this-world experience for people to be shared through coffee in a cozy atmosphere that inspires the warmth environment of the community we serve.
            Don't be surprised if we know your name, remember your regular drink order, or dish. KIVAHAN is all about connecting people.
        </p>
        </div>
        <div class="ter">
        <div class="ter-our">
          <h1 class="our">OUR STORY</h1>
          <p class="pari">
            KIVAHAN is a family business serving Specialty Organic Coffee.
            The Turkish background of one of the founders lead to the name KivaHan after the world’s first coffee shop that opened in Constantinople (Istanbul), in Turkey 1475.
            Coffee was of such great importance then, Turkish law deemed it legal for a woman to divorce her husband if he failed to provide her with her daily cup!
            As a roaster we search the world over to establish relationships with great farmers cultivating great coffees, and we roast them with extreme care.
          </p>
        </div>
        <div class="immm">
              <img src="./assets/KIVAHANPIC.png" width="100%"/>
        </div>
        </div>
        <div class="four">
            <div class="air" >
            <h1>KIVAHAN COFFEE BEANS</h1>
            <img src="./assets/LINECOFF.svg" id="cofi" width="20%"/>
                <div class="all">
                    <div class="imblack">
                        <img src="./assets/blackr.png" width="100%"/>
                        <div class="info">
                            <div class="ot">
                              <div class="o">
      
                                <div class="tittle"> <h1>100%</h1></div>
                                <div class="sub"><h2>ORGANIC</h2></div>
      
                                <div class="pa"> <p>All out our coffeee is 100% Certified Organic meaning no chermicals or pesticides are used in the producing country of origin.
                                    The strict standards  of Certified Organic system ensure that the roasting process also involves no chermicals.
                                </p></div>
      
                            </div>
                            <!-- <div class="img">
                              <img src="../../../assets/granos.png" alt="">
                            </div> -->
                            </div>
                          <div class="tt">
                            <div class="t">
                              <h1>100%</h1>
                              <h2>ARABICA</h2>
                              <p>Our coffee is 100% Arabica - said to produce better tasting coffee than th other major commercially grown coffee species, (robusta),
                                 because robusta cherries contain twice as much caffeine as arabica.
                                 Caffeine itself has a bitter taste. making robusta more bitter.
                              </p></div>
                              <!-- <div class="img">
                                <img src="../../../assets/granos.png" alt="">
                              </div> -->
                          </div>
                          <div class="ttr">
                            <div class="tr"> <h1>100%</h1>
                              <h2>FAIRTRADE</h2>
                              <p>We work with the Fair Trade Organization in Australia to ensure our coffee farmers are paid and treated fairly.
                                  Workin with communities ensures a positive relationship and a top quality product.
                                  <br>
                                  <br>
                              </p></div>
                              <!-- <div class="img">
                                <img src="../../../assets/granos.png" alt="">
                              </div> -->
                          </div>
      
                          </div>
                    </div>
                    <div class="imblack2">
                        <img src="./assets/ahorasieste.png" width="100%"/>
                        <div class="info2">
                            <div class="ot">
                              <div class="o">
      
                                <div class="tittle"> <h1>100%</h1></div>
                                <div class="sub"><h2>ORGANIC</h2></div>
      
                                <div class="pa"> <p>All of our coffeee is 100% Certified Organic meaning no chermicals or pesticides are used in the producing country of origin.
                                    The strict standards  of Certified Organic system ensure that the roasting process also involves no chermicals.
                                </p></div>
      
                            </div>
                            <!-- <div class="img">
                              <img src="../../../assets/granos.png" alt="">
                            </div> -->
                            </div>
                          <div class="tt">
                            <div class="t">
                              <h1>100%</h1>
                              <h2>ARABICA</h2>
                              <p>Our coffee is 100% Arabica - said to produce better tasting coffee than the other major commercially grown coffee species, (robusta),
                                 because robusta cherries contain twice as much caffeine as arabica.
                                 Caffeine itself has a bitter taste. making robusta more bitter.
                              </p></div>
                              <!-- <div class="img">
                                <img src="../../../assets/granos.png" alt="">
                              </div> -->
                          </div>
                          <div class="ttr">
                            <div class="tr"> <h1>100%</h1>
                              <h2>FAIRTRADE</h2>
                              <p>Our green bean suppliers work with the Fair Trade Organisation in Australia to ensure our coffee farmers are paid and treated fairly.
                                  Working with communities ensures a positive relationship and a top quality product.
                                  <br>
                                  <br>
                              </p></div>
                              <!-- <div class="img">
                                <img src="../../../assets/granos.png" alt="">
                              </div> -->
                          </div>
      
                          </div>
                    </div>

                </div>
            </div>
        </div>
    </main>
</div>
</div>
<!-- <div class="container-hidden-mobile">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&family=Zilla+Slab:wght@300;400;500;600;700&display=swap');
    </style>
    <main>
        <div class="slider-frame">
            <ul>
                <li><img src="./assets/slider1.png" alt="" /></li>
                <li><img src="./assets/slider2.png" alt=""/></li>
                <li><img src="./assets/slider3.png" alt=""/></li>
                <li><img src="./assets/slider4.png" alt=""/></li>
            </ul>
        </div>
        <div class="second">
        <h1>WELCOME TO KIVAHAN</h1>
        <img src="./assets/LINECOFF.svg" width="25%"/>
        <p>
            We have navigated plenty of twists and turns along the way, but we will  be always driven by a goal to create distinctive and  out-of-this-world experience for people to be shared through coffee in a cozy atmosphere that inspire the warmth environment of the community we serve.
            <br>
            Don't be surprised if we know your name, remember your regular drink order, or dish. KIVAHAN is all about connecting people.
        </p>
        </div>
        <div class="ter">
        <div class="ter-our">
          <h1 class="our">Our story</h1>
          <br>
          <br>
          <br>
          <br>
          <br>
          <p class="pari">
            KIVAHAN is a family business serving Specialty Organic Coffee.
            <br>
            The Turkish background of one of the founders lead to named KivaHan after the world’s first coffee shop that opened in Constantinople (Istanbul), in Turkey 1475.
            Coffee was of such great importance then, Turkish law deemed it legal for a woman to divorce her husband if he failed to provide her with her daily cup!
            As a roaster we search the world over to establish relationships with great farmers cultivating great coffees, and we roast them with extreme care.

          </p>

        </div>
        <div class="immm">
              <img src="./assets/KIVAHANPIC.png" width="100%"/>
        </div>
        </div>
        <div class="four">
            <div class="air" >
            <h1>KIVAHAN COFFEE BEANS</h1>
            <img src="./assets/LINECOFF.svg" width="25%"/>
                <div class="all">
                    <div class="o">
                        <h1>100%</h1>
                        <h2>ORGANIC</h2>
                        <p>All out our coffeee is 100% Certified Organic meaning no chermicals or pesticides are used in the producing country of origin.
                            The strict standards  of Certified Organic system ensure that the roasting process also involves no chermicals.
                        </p>
                    </div>
                    <div class="t"> <h1>100%</h1>
                        <h2>ARABICA</h2>
                        <p>Our coffee is 100% Arabica - said to produce better tasting coffee than th other major commercially grown coffee species, (robusta),
                           because robusta cherries contain twice as much caffeine as arabica.
                           Caffeine itself has a bitter taste. making robusta more bitter.
                        </p></div>
                    <div class="tr"> <h1>100%</h1>
                        <h2>FAIRTRADE</h2>
                        <p>We work with the Fair Trade Organization in Australia to ensure our coffee farmers are paid and treated fairly.
                            Workin with communities ensures a positive relationship and a top quality product.
                        </p></div>
                </div>
                <div class="imblack">
                    <img src="./assets/black.png" width="100%"/>
                </div>



            </div>
        </div>
        <div class="five">
        <img src="./assets/CARD2.png" width="100%"/>

        <div class="news">
            <button>Subscribe</button>
            <input type="text" placeholder="Enter your email and subscribe to our newsletter"/>
        </div>
        </div>
    </main>
</div> -->
