.container-mobile{
  margin: 0;
  .main
  {
    padding-left: 5%;
    padding-right: 5%;
  }
@media screen and (min-width:1025px) {

  main{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0;

}
}

@media screen and (max-width:1024px)
{
      display: flex;
      flex-direction: column;
      text-align: center;
main
{
  //  padding: 15%;
  // padding-left: 5%;
  // padding-right: 5%;
   margin: 0;

}
    }
    @media screen and (min-width:1025px) {
      .second{
        //    border: 1px solid green;
        width: 100%;
        margin: 0 auto;

           .img
           {
            margin-bottom: -50px;
            h1{
              font-family: 'Zilla Slab', serif;
              font-weight: 900;
              font-size: 2vw;
              box-sizing: border-box;
               }
               #cofi
               {
                max-width: 100%;
                top: 0;
                left: 0;
                width: 30%;
                height: 30%;
                object-fit: cover;
               }
           }

             p{
                font-family: 'Playfair Display', serif;
                font-weight: 700;
                font-size: 1.8vw;
                padding: 30px;
                text-align: justify;
                box-sizing: border-box;
                line-height: 1.5em;
                // justify-content: center;
                margin-bottom: -10px;
             }

        }
    }
    // .second
    @media screen and (max-width:1024px) {
      .second
      {
        //  margin-bottom: -50%;
        //  border: 1px solid yellow;
        #cofi
        {
         max-width: 100%;
         top: 0;
         left: 0;
         width: 60%;
         height: 60%;
         object-fit: cover;
        }
         .img
         {
            margin-bottom: -5%;
         }
         h1{
            font-family: 'Zilla Slab', serif;
            font-weight: 900;
            font-size: 7vw;
             }

             p{
                font-family: 'Playfair Display', serif;
                font-weight: 600;
                font-size: 4vw;
                padding: 20px;
                text-align: justify;
                line-height: 1.5em;
                // justify-content: center;
             }


      }
   }

   @media screen and (min-width:1025px) {
    display: flex;
    flex-direction: column;
    margin: auto;
    .slider-frame
{
  // width: 100%;
  // margin-bottom: -10%;
  // border: 1px solid red;
}
main
{
  //  padding: 15%;
  padding-left: 0%;
  padding-right: 0%;
   margin: 0;
  //  margin-bottom: -220%;

}

    .ter{
      display: flex;
      flex-direction: column;
      width: 100%;
      // max-width: 2000px;
      margin: 0;
      // padding: 250px;
      justify-content: center;
      align-items: center;
      text-align: center;
      .ter-our{
      //  min-width: 400px;
      //  padding-right: -500px;

        h1{
          font-family: 'Zilla Slab', serif;
          font-weight: 900;
          font-size: 2vw;
          color: #CFAD31;
          text-align: center;
          // padding-left: 200px;
          // padding: 80px;
          margin-bottom: -30px;

           }

           p{
              font-family: 'Playfair Display', serif;
              font-weight: 500;
              font-size: 1.8vw;
              color: white;
              padding: 30px;
              text-align: justify;
              line-height: 1.5em;
           }

        // border: 5px solid red;
      background: black;
      }

      .immm
      {
        max-width: 100%;
        top: 50%;
        left: 50%;
        width: 100%;
        height: 20%;
        object-fit: cover;
        padding-left: -200px;
      }

  }
   }
   // .ter
    @media screen and (max-width:1024px) {
      .ter
      {
         display: flex;
         flex-direction: column;
         margin-bottom: -5%;
         // padding: 20px;
         width: 100%;

         h1{
            font-family: 'Zilla Slab', serif;
            font-weight: 900;
            font-size: 7vw;
            color: #CFAD31;
            text-align: center;
            margin-bottom: -5%;

             }

             p{
                font-family: 'Playfair Display', serif;
                font-weight: 600;
                font-size: 4vw;
                color: white;
                padding: 20px;
                text-align: justify;
                line-height: 1.5em;
             }

             .ter-our{
                // border: 1px solid red;
                background: black;
             }

             .immm
             {
               img
               {
                max-width: 100%;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
               }
             }

      }
    }

    @media screen and (min-width:1025px) {
      .four{
        // padding: 10%;
        width: 100%;
        h1{
            font-family: 'Zilla Slab', serif;
            font-weight: 900;
            font-size: 2.8vw;
             }

             p{
                font-family: 'Playfair Display', serif;
                font-weight: 700;
                font-size: 1.8vw;
             }

            //  img
            //  {
            //   max-width: 100%;
            //   top: 0;
            //   left: 0;
            //   width: 30%;
            //   height: 30%;
            //   object-fit: cover;
            //  }

             .all{
                display: flex;
                flex-direction: column;
                justify-content: center;
               //  margin-bottom: -50px;
                width: 100%;
                .imblack
                {
                  // border: 1px solid blue;
                  position: relative;
                  img
                  {
                   min-width: 100%;
                   top: 0;
                   left: 0;
                   width: 100%;
                   height: 100%;
                   object-fit: cover;
                   position: relative;
                  }
                  .info{
                    display: flex;
                    flex-flow: row wrap;
                    justify-content: center;
                    align-items: center;
                    position: absolute;
                    text-align: center;
                    width: 100%;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    // max-width: 1050px;
                    position: absolute;
                  //  padding-left: 5%;
                  //  padding-right: 5%;
                    // border: 1px solid green;
                    max-height: 300px;
                    // padding: 5%;
                    max-height: 1000px;
                  .ot
                  {
                    display: flex;
                    flex-direction: column;
                  //   margin-bottom: 20px;
                  width: 30%;
                  max-height: 100px;
                  height: 60vh;
                  justify-content: center;
                    .o{
                      // border: 1px solid blue;
                      width: 100%;
                      // height: 501px;
                      background: black;
                      justify-content: center;
                      // max-height:1000px;
                      height: 60vh;
                      h1{
                          font-family: 'Zilla Slab', serif;
                          font-weight: 900;
                          font-size: 30px;
                          color: white;
                           }

                           h2{
                              font-family: 'Zilla Slab', serif;
                              font-weight: 900;
                              font-size: 25px;
                              color:#CFAD31;
                           }

                           p{
                              font-family: 'Playfair Display', serif;
                              font-weight: 700;
                              color: white;
                              padding: 12px;
                              text-align: justify;
                              font-size: 18px;
                              line-height: 1.5em;
                           }
                  }
                  .img
                  {
                    width: 100%;
                    // max-height: 1800px;
                    img
                    {
                     max-width: 100%;
                     top: 0;
                     left: 0;
                     width: 100%;
                     height: 100%;
                     object-fit: cover;
                    }
                  }

                  }
                  .tt
                  {
                    display: flex;
                    flex-direction: column;
                  //   margin-bottom: 20px;
                  width: 30%;
                  max-height: 100px;
                  height: 60vh;
                  justify-content: center;
                    .t{
                      // border: 1px solid blue;
                      width: 100%;
                      // height: 501px;
                      background: black;
                      justify-content: center;
                      // max-height:1000px;
                      height: 60vh;
                     h1{
                         font-family: 'Zilla Slab', serif;
                         font-weight: 900;
                         font-size: 30px;
                         color: white;
                          }

                          h2{
                             font-family: 'Zilla Slab', serif;
                             font-weight: 900;
                             font-size: 25px;
                             color:#CFAD31;
                          }

                          p{
                             font-family: 'Playfair Display', serif;
                             font-weight: 700;
                             color: white;
                             padding: 12px;
                             text-align: justify;
                             font-size: 18px;
                             line-height: 1.5em;
                          }
                  }
                  .img
                  {
                    // max-height: 1800px;
                    img
                    {
                     max-width: 100%;
                     top: 0;
                     left: 0;
                     width: 100%;
                     height: 100%;
                     object-fit: cover;
                     min-width: none;
                    }
                  }

                  }
                  .ttr
                  {
                    display: flex;
                    flex-direction: column;
                  //   margin-bottom: 20px;
                  width: 30%;
                  max-height: 100px;
                  height: 60vh;
                  justify-content: center;
                    .tr{
                      // border: 1px solid blue;
                      width: 100%;
                      // height: 501px;
                      background: black;
                      justify-content: center;
                      // max-height:1000px;
                      height: 60vh;
                     h1{
                         font-family: 'Zilla Slab', serif;
                         font-weight: 900;
                         font-size: 30px;
                         color: white;
                          }

                          h2{
                             font-family: 'Zilla Slab', serif;
                             font-weight: 900;
                             font-size: 25px;
                             color:#CFAD31;
                          }

                          p{
                             font-family: 'Playfair Display', serif;
                             font-weight: 700;
                             color: white;
                             padding: 12px;
                             text-align: justify;
                             font-size: 18px;
                             line-height: 1.5em;
                          }
                  }
                  .img
                  {
                    width: 50%;
                    // max-height: 1800px;
                    img
                    {
                     max-width: 100%;
                     top: 0;
                     left: 0;
                     width: 100%;
                     height: 100%;
                     object-fit: cover;
                    }
                  }

                  }
                }

                }
                .imblack2
                {
                  display: none;
                }



                img{
                    position: relative;
                }
             }

    }

    }
    // .four
    @media screen and (max-width:1024px) {
      .four
      {
         // border: solid 1px green;
         // margin-bottom: 2px;
         h1{
            font-family: 'Zilla Slab', serif;
            font-weight: 900;
            font-size: 7vw;
            margin-bottom: 5%;
             }

             p{
                font-family: 'Playfair Display', serif;
                font-weight: 700;
                font-size: 4vw;
                margin-bottom: 5%;
             }
          .air
          {
            #cofi
            {
               max-width: 100%;
               top: 0;
               left: 0;
               width: 60%;
               height: 60%;
               object-fit: cover;
            }
          }
             .all{
                display: flex;
                flex-direction: column;
                justify-content: center;
                margin-bottom: -30px;
                .imblack
                {
                  display: none;
                }
                .imblack2
                {
                  position: relative;
                  img
                  {
                    min-width: 100%;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                  }
                  .info2{
                    display: flex;
                    flex-flow: column nowrap;
                    justify-content: center;
                    align-items: center;
                    top: 50%;
                    left: 50%;
                    width: 90%;
                    transform: translate(-50%, -50%);
                    // padding-left:5%;
                    // padding-right: 11%;
                    position: absolute;
                    text-align: center;
                    .o{
                        // border: 1px solid blue;
                        width: 100%;
                        height: 30%;
                        background: black;
                        margin-bottom: 5%;
                        justify-content: center;
                        align-items: center;
                        text-align: center;
                        h1{
                            font-family: 'Zilla Slab', serif;
                            font-weight: 900;
                            font-size: 5vw;
                            color: white;
                             }

                             h2{
                                font-family: 'Zilla Slab', serif;
                                font-weight: 900;
                                font-size: 5vw;
                                color:#CFAD31;
                             }

                             p{
                                font-family: 'Playfair Display', serif;
                                font-weight: 500;
                                font-size: 3vw;
                                color: white;
                                padding: 20px;
                                text-align: justify;
                             }
                    }

                    .t{
                        // border: 1px solid blue;
                        width: 100%;
                        height: 30%;
                        background: black;
                        margin-bottom: 5%;
                        h1{
                            font-family: 'Zilla Slab', serif;
                            font-weight: 900;
                            font-size: 5vw;
                            color: white;
                             }

                             h2{
                                font-family: 'Zilla Slab', serif;
                                font-weight: 900;
                                font-size: 5vw;
                                color:#CFAD31;
                             }

                             p{
                                font-family: 'Playfair Display', serif;
                                font-weight: 700;
                                font-size: 3vw;
                                color: white;
                                padding: 20px;
                                text-align: justify;
                             }
                    }
                    .tr{
                        // border: 1px solid blue;
                        width: 100%;
                        height: 30%;
                        background: black;
                        margin-bottom: 5%;
                        h1{
                            font-family: 'Zilla Slab', serif;
                            font-weight: 900;
                            font-size: 5vw;
                            color: white;
                             }

                             h2{
                                font-family: 'Zilla Slab', serif;
                                font-weight: 900;
                                font-size: 5vw;
                                color:#CFAD31;
                             }

                             p{
                                font-family: 'Playfair Display', serif;
                                font-weight: 700;
                                font-size: 3vw;
                                color: white;
                                padding: 20px;
                                text-align: justify;
                             }
                    }



                }
                }


             }
             #cofi
             {
               width: 300px;
             }
      }
    }

}

// .container-hidden-mobile{
// text-align: center;
// display: inline;

// margin: 0;
// justify-content:center;


// h1{
//     font-family: 'Zilla Slab', serif;
//     font-weight: 200;
//     font-size: 50px;
// }

// p{
//     font-family: 'Playfair Display', serif;
//     font-size: 20px;
// }
//   .ter,.four{
//     display: flex;

//   }
//     // .men{
//     //     width: 100%;
//     //     height: 280px;
//     //     // background-color: rgba(0, 0, 0, 0.329);

//     //     h1{
//     //         color: black;
//     //     }
//     //     button{
//     //         position: absolute;
//     //         top: 50%;
//     //         height: 30px;
//     //         width: 80px;
//     //         font-family: 'Playfair Display', serif;
//     //         font-weight: 800;
//     //         background-color:#CFAD31;
//     //         border: none;
//     //     }

//     //     button:hover{
//     //         opacity: .70;
//     //     }
//     //     .cf, .et, .br{
//     //         display: inline-block;
//     //         height: 270px;
//     //     }
//     //     .cf{
//     //         width: 33.3%;
//     //         // border: 2px solid yellow;
//     //         .bco{
//     //             left: 14%;
//     //         }
//     //     }
//     //     .et{
//     //         width: 33.3%;
//     //         // border: 2px solid blue;
//     //         .beat{
//     //             left: 47%;
//     //         }
//     //     }
//     //     .br{
//     //         width: 33.3%;
//     //         // border: 2px solid red;

//     //         .bbar{
//     //             right: 14%;
//     //         }
//     //     }
//     // }

//     .second{
//         // border: .5px solid black;
//         width: 100%;
//         height: 400px;
//         background-color: #ffff;

//         h1{
//             font-weight: 500;
//         }

//         p{

//             font-size: 22px;

//         }
//     }
//     .ter{

//         width: 100%;
//         height: 714px;
//         background-color: #00000013;
//         align-items: center;

//         .ter-our{

//             position: absolute;
//             background-color: rgba(0, 0, 0, 0.466);
//             width: 99%;
//             height: 220px;
//             top: 159%;

//             .pari{
//                 text-align: center;
//                 font-size: 14px;
//                 color: #ffff;
//                 font-family: 'Playfair Display', serif;
//             }
//         }

//          .immm{

//             display: block;
//          }

//         .our{
//             position: absolute;
//             color: #ffff;
//             font-weight: 400;
//             left: 50%;
//             transform: translate(-50%);

//         }



//     }

//     .four{
//         width: 100%;
//         height: 400px;
//         align-items: center;
//         justify-content: center;

//         .imblack{
//             // border: 2px solid blue;
//             height: 590px;
//             display: block;
//         }


//         .all{

//             width: 60%;
//             // border: 1px solid yellow;
//             height: 350px;
//             position: absolute;
//             bottom: 25%;
//             left: 20%;
//             background: black;
//             display: flex;

//             .o , .t, .tr{
//                 display: flex;
//                 flex-direction: column;
//                 justify-content: center;
//                 align-items: center;
//                 text-align: center;
//                 h1{
//                     color: white;
//                     font-family: 'Zilla Slab', serif;
//                     font-weight: 700;
//                     font-size: 50px;
//                 }

//                 h2{
//                     color: #cfad31;
//                     font-family: 'Zilla Slab', serif;
//                     font-weight: 700;
//                     font-size: 30px;
//                 }

//                 p{
//                 text-align: left;
//                 font-size: 13px;
//                 color: #ffff;
//                 font-family: 'Playfair Display', serif;
//                 width: 80%;
//                 font-weight: 400;
//                 }
//             }
//             .o{
//                 width: 33%;
//                 // border: 1px solid yellow;
//                 height: 340px;

//                 // position: absolute;


//             }
//             .t{
//                 width: 33%;
//                 // border: 1px solid green;
//                 height: 340px;
//             }
//             .tr{
//                 width: 33%;
//                 // border: 1px solid blue;
//                 height: 340px;
//             }



//           }
//     // .air,.or{
//     //         display: inline-block;
//     //         // position: absolute;
//     //         height: 440px;

//     //     }
//         .air{
//             width: 100%;

//             background-color: white;
//             position: relative;

//             h1{
//                 font-weight: 500;
//                 // padding-bottom: 18rem;

//             }


//         }
//     //     .or{
//     //         width: 50%;

//     //         img{
//     //             height: 440px;
//     //         }



//     //     }


//     }
//     .five{

//         width: 100%;
//         height: 200px;
//         padding-top: 10rem;

//         .news{

//             position: absolute;
//             bottom: -245%;
//             left: 13%;
//             display: block;
//             text-align: center;

//         }
//         input{
//             // position: absolute;
//            color: white;
//            width: 900px;
//            height: 30px;
//            right: 100%;


//         }
//         button{
//             // position: absolute;
//             height: 36px;
//             border: none;
//             background-color: #cfad3181;
//             color: white;
//             border-radius: 2px 0px 0px 2px;
//             width: 102px;
//             // width: 10%;
//         }
//     }
// }

.slider-frame{
    // border: 1px solid yellow;
    width: 100%;
    // max-height: 1000px;
    margin-top: 0;
    ul{
      margin-top: 0;
        // min-height: 100px;
        height: 100vh;
    }
    // height: 50%;

    @media screen and (min-width:1024px) {
        // height: 50%;

    }
    overflow: hidden;


}

.slider-frame input
{
 display: none;
}

.manual-btn
{
  border: 1px solid yellow;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}

.slider-frame ul{
    display: flex;
    padding: 0;
    width: 400%;
    animation: slide 15s infinite alternate ease-in-out;

}

.slider-frame li{
    list-style: none;
    width: 100%;
}

.slider-frame img {
    width: 100%;
}

@keyframes slide {
    0%{margin-left: 0%;}
    20%{margin-left: 0%;}

    25%{margin-left: -100%;}
    45%{margin-left: -100%;}

    50%{margin-left: -200%;}
    70%{margin-left: -200%;}

    75%{margin-left: -300%;}
    95%{margin-left: -300%;}
}

