<div class="mobile">
        <div class="menu">
            <div class="plates">
                <div class="ima2">
                    <img src="./assets/postri.png" width="100%" />
                </div>
         
                <div class="ima">
                    <img src="./assets/hambu2.png" width="100%"/>
                </div>
                <div class="but">
                    <a (click)="abrir()"><input  type="submit" value="FOOD AND DRINKS" /></a>
                </div>
            </div>
            <div class="bar">
                <div class="ima3">
                    <img src="./assets/beer.png" width="100%" />
                </div>
             
                <div class="ima2">
                    <img src="./assets/bar3.png" width="100%"/>
                </div>
                <div class="but">
                    <a (click)="abrir2()"><input type="submit" value="BEER, WINE & COCKTAILS" /></a>
                </div>
            </div>
        </div>
        
    </div>

<!-- <div class="hidden-mobile">
    <div class="menu">
        <div class="plates">
            <div class="ima">
                <img src="./assets/pan.png" width="100%"/>
            </div>
            <div class="but">
                <a (click)="abrir2()"><input  type="submit" value="PLATES" /></a>
            </div>
        </div>
        <div class="bar">
            <div class="ima2">
                <img src="./assets/bar2.png" width="100%"/>
            </div>
            <div class="but">
                <a (click)="abrir()"><input type="submit" value="BEER, WINE & COCKTAILS" /></a>
            </div>
        </div>
    </div>
</div> -->


